@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #81a2ca;
    color: #081f3a;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #081f3a;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: #d1d8e7;
}

.stats-container {
    display: flex;
    align-items: flex-start;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #395c85;
}

.stats-card {
    background-color: #c6dcfc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    color: #375f8d;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #081f3a;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    color: #d1d8e7;
    background-color: #081f3a;
}

#modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    color: #081f3a;
}

#modal-container {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}

#modal-close {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}